.nav-container{
  
    margin: 10px;
    height: calc(100vh - 85px);
    margin: 0px;
    width: 220px;
    background-color: $main-blue;
    .main-menu {
        position: sticky;
        top: 0px;
    }
}

.logo-container{
    background-color: $main-blue;
    display: flex;
    padding: 20px 30px 20px 20px;
    align-items: center;
    width: 100%;
    .logo {
        margin:0 0 0 15px;
        .logo-link {
            color: white;
            &:hover {
                color: $light-blue;
            }
        }
    }
}