img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    max-width: 0 auto;
}

.content-wrapper {
    @include flexbox(row, space-between, stretch);
}

.main {
    width: 100%;
}